In [1]:
import pandas as pd

In [2]:
# 读取CSV文件
df = pd.read_csv("../OLINK_data.csv")

In [3]:
df.shape

(53074, 8764)

In [4]:
df.head()

,Unnamed: 0,P_EIF4EBP1_0,P_EIF4EBP1_2,P_EIF4EBP1_3,P_EIF4G1_0,P_EIF4G1_2,P_EIF4G1_3,P_EIF5A_0,P_EIF5A_2,P_EIF5A_3,...,P_CHRM1_3,P_KLK1_0,P_KLK1_2,P_KLK1_3,P_WFDC2_0,P_WFDC2_2,P_WFDC2_3,P_GLIPR1_0,P_GLIPR1_2,P_GLIPR1_3
0,1000037,2.5375,NaN,NaN,2.3278,NaN,NaN,-0.0938,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000221,-0.5340,NaN,NaN,0.1171,NaN,NaN,-0.3951,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000326,2.3203,NaN,NaN,1.9646,NaN,NaN,NaN,NaN,NaN,...,NaN,-0.5902,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1000662,0.0833,NaN,NaN,0.7406,NaN,NaN,-0.1224,NaN,NaN,...,NaN,-0.0613,NaN,NaN,0.3514,NaN,NaN,NaN,NaN,NaN
4,1000823,0.6995,NaN,NaN,0.5135,NaN,NaN,-0.2698,NaN,NaN,...,NaN,-0.2697,NaN,NaN,0.4782,NaN,NaN,NaN,NaN,NaN

In [5]:
df=df.set_index('Unnamed: 0')
df.index.names = ['Id']

In [6]:
df.head()

,P_EIF4EBP1_0,P_EIF4EBP1_2,P_EIF4EBP1_3,P_EIF4G1_0,P_EIF4G1_2,P_EIF4G1_3,P_EIF5A_0,P_EIF5A_2,P_EIF5A_3,P_ENAH_0,...,P_CHRM1_3,P_KLK1_0,P_KLK1_2,P_KLK1_3,P_WFDC2_0,P_WFDC2_2,P_WFDC2_3,P_GLIPR1_0,P_GLIPR1_2,P_GLIPR1_3
Id,,,,,,,,,,,,,,,,,,,,,
1000037,2.5375,NaN,NaN,2.3278,NaN,NaN,-0.0938,NaN,NaN,1.3571,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1000221,-0.5340,NaN,NaN,0.1171,NaN,NaN,-0.3951,NaN,NaN,-0.5200,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1000326,2.3203,NaN,NaN,1.9646,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,-0.5902,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1000662,0.0833,NaN,NaN,0.7406,NaN,NaN,-0.1224,NaN,NaN,-0.0655,...,NaN,-0.0613,NaN,NaN,0.3514,NaN,NaN,NaN,NaN,NaN
1000823,0.6995,NaN,NaN,0.5135,NaN,NaN,-0.2698,NaN,NaN,0.2000,...,NaN,-0.2697,NaN,NaN,0.4782,NaN,NaN,NaN,NaN,NaN

In [7]:
baseline_els=[ a  for a in df if (a[-2:] == '_0')]  # eng with 0
df_select = df.loc[:,baseline_els]
df_select.columns=[a[:-2] for a in df_select.columns]
df_select.columns=[a[2:] for a in df_select.columns]

print(df_select.shape)
df_select.head()

(53074, 2921)

,EIF4EBP1,EIF4G1,EIF5A,ENAH,ENG,ENPP2,ENPP5,ENPP7,ENTPD5,EGLN1,...,CHM,CHP1,CHMP6,CHMP1A,CHGB,CHGA,CHRM1,KLK1,WFDC2,GLIPR1
Id,,,,,,,,,,,,,,,,,,,,,
1000037,2.5375,2.3278,-0.0938,1.3571,0.03255,0.1166,0.0007,0.9705,0.0951,5.95360,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1000221,-0.5340,0.1171,-0.3951,-0.5200,-0.18180,-0.0230,-0.7809,-1.2809,0.0640,0.21390,...,-0.38945,-0.25995,-0.4113,0.00000,-0.3632,1.8161,0.28635,NaN,NaN,NaN
1000326,2.3203,1.9646,NaN,NaN,-0.12080,-0.3933,-0.1192,1.5434,-0.0643,2.21500,...,1.55925,-0.56845,1.6588,1.94960,NaN,1.6599,-0.02835,-0.5902,NaN,NaN
1000662,0.0833,0.7406,-0.1224,-0.0655,0.14990,0.1793,0.4507,-0.4145,0.1071,0.57655,...,0.62860,-0.35165,0.2819,0.57525,0.2082,-1.4408,-0.07190,-0.0613,0.3514,NaN
1000823,0.6995,0.5135,-0.2698,0.2000,0.26940,0.7334,-0.1698,0.0148,0.2021,1.21695,...,0.63700,-0.13355,0.3909,0.39785,-0.2310,1.1075,0.06480,-0.2697,0.4782,NaN

In [8]:
header = df_select.columns 
header_list = header.tolist() 
unique_processed_header_set = set(header_list)

len(header_list)

2921

### 个体因缺失 >10% 的蛋白质测量值而被排除

In [9]:
nan_count_per_row = df_select.isna().sum(axis=1)

row_to_drop = nan_count_per_row[nan_count_per_row > len(unique_processed_header_set)*0.1].index
df_drop_item = df_select.drop(row_to_drop)
print(df_drop_item.shape)

df_drop_item.head()

(41449, 2921)

,EIF4EBP1,EIF4G1,EIF5A,ENAH,ENG,ENPP2,ENPP5,ENPP7,ENTPD5,EGLN1,...,CHM,CHP1,CHMP6,CHMP1A,CHGB,CHGA,CHRM1,KLK1,WFDC2,GLIPR1
Id,,,,,,,,,,,,,,,,,,,,,
1000221,-0.5340,0.1171,-0.3951,-0.5200,-0.18180,-0.0230,-0.7809,-1.2809,0.0640,0.21390,...,-0.38945,-0.25995,-0.4113,0.00000,-0.3632,1.8161,0.28635,NaN,NaN,NaN
1000326,2.3203,1.9646,NaN,NaN,-0.12080,-0.3933,-0.1192,1.5434,-0.0643,2.21500,...,1.55925,-0.56845,1.6588,1.94960,NaN,1.6599,-0.02835,-0.59020,NaN,NaN
1000662,0.0833,0.7406,-0.1224,-0.0655,0.14990,0.1793,0.4507,-0.4145,0.1071,0.57655,...,0.62860,-0.35165,0.2819,0.57525,0.2082,-1.4408,-0.07190,-0.06130,0.3514,NaN
1000823,0.6995,0.5135,-0.2698,0.2000,0.26940,0.7334,-0.1698,0.0148,0.2021,1.21695,...,0.63700,-0.13355,0.3909,0.39785,-0.2310,1.1075,0.06480,-0.26970,0.4782,NaN
1000945,-0.1842,-2.1843,-0.5860,-0.2403,-0.13715,-0.5533,NaN,NaN,-0.2273,-0.34310,...,-1.18330,-0.29615,-2.0295,-1.42410,-0.6222,0.8497,-0.31770,3.32895,0.1135,NaN

### 排除蛋白质

In [10]:
df_drop_item.shape

(41449, 2921)

In [14]:
excluded_proteins = set() # 存储被排除的蛋白质名称
is_nan_counts = df_drop_item.isna().sum()
print(is_nan_counts)

EIF4EBP1      527
EIF4G1        164
EIF5A         996
ENAH          996
ENG           144
            ...
CHGA          222
CHRM1        1083
KLK1          843
WFDC2        2223
GLIPR1      41293
Length: 2921, dtype: int64

In [15]:
sorted_is_nan_counts = is_nan_counts.sort_values(ascending=False)
sorted_is_nan_counts[:10]

GLIPR1               41293
CTSS                  9468
CST1                  5383
TACSTD2               4994
AMY2B                 3915
CTSD                  3533
ENDOU                 3256
AMY1A_AMY1B_AMY1C     2861
CFH                   2679
AMY2A                 2583
dtype: int64

In [18]:
df_drop_protein = df_drop_item.drop(columns=['GLIPR1', 'CTSS'])

In [19]:
df_drop_protein.head()

,EIF4EBP1,EIF4G1,EIF5A,ENAH,ENG,ENPP2,ENPP5,ENPP7,ENTPD5,EGLN1,...,CHCHD6,CHM,CHP1,CHMP6,CHMP1A,CHGB,CHGA,CHRM1,KLK1,WFDC2
Id,,,,,,,,,,,,,,,,,,,,,
1000221,-0.5340,0.1171,-0.3951,-0.5200,-0.18180,-0.0230,-0.7809,-1.2809,0.0640,0.21390,...,-0.30305,-0.38945,-0.25995,-0.4113,0.00000,-0.3632,1.8161,0.28635,NaN,NaN
1000326,2.3203,1.9646,NaN,NaN,-0.12080,-0.3933,-0.1192,1.5434,-0.0643,2.21500,...,0.03015,1.55925,-0.56845,1.6588,1.94960,NaN,1.6599,-0.02835,-0.59020,NaN
1000662,0.0833,0.7406,-0.1224,-0.0655,0.14990,0.1793,0.4507,-0.4145,0.1071,0.57655,...,0.23710,0.62860,-0.35165,0.2819,0.57525,0.2082,-1.4408,-0.07190,-0.06130,0.3514
1000823,0.6995,0.5135,-0.2698,0.2000,0.26940,0.7334,-0.1698,0.0148,0.2021,1.21695,...,-0.02510,0.63700,-0.13355,0.3909,0.39785,-0.2310,1.1075,0.06480,-0.26970,0.4782
1000945,-0.1842,-2.1843,-0.5860,-0.2403,-0.13715,-0.5533,NaN,NaN,-0.2273,-0.34310,...,-0.40400,-1.18330,-0.29615,-2.0295,-1.42410,-0.6222,0.8497,-0.31770,3.32895,0.1135

In [20]:
df_drop_protein.shape

(41449, 2919)

In [21]:
header_drop = df_drop_protein.columns 
header_drop_list = header_drop.tolist() 

len(header_drop_list)

2919

In [22]:
f = open('./data/proteins_name.txt','w')
print(header_drop_list, file=f)
f.close()

In [23]:
df_drop_protein.to_csv("./data/1-updated_OLINK_data.csv")

### Test

In [24]:
df_test = pd.read_csv("./data/1-updated_OLINK_data.csv")

In [25]:
df_test.head()

,Id,EIF4EBP1,EIF4G1,EIF5A,ENAH,ENG,ENPP2,ENPP5,ENPP7,ENTPD5,...,CHCHD6,CHM,CHP1,CHMP6,CHMP1A,CHGB,CHGA,CHRM1,KLK1,WFDC2
0,1000221,-0.5340,0.1171,-0.3951,-0.5200,-0.18180,-0.0230,-0.7809,-1.2809,0.0640,...,-0.30305,-0.38945,-0.25995,-0.4113,0.00000,-0.3632,1.8161,0.28635,NaN,NaN
1,1000326,2.3203,1.9646,NaN,NaN,-0.12080,-0.3933,-0.1192,1.5434,-0.0643,...,0.03015,1.55925,-0.56845,1.6588,1.94960,NaN,1.6599,-0.02835,-0.59020,NaN
2,1000662,0.0833,0.7406,-0.1224,-0.0655,0.14990,0.1793,0.4507,-0.4145,0.1071,...,0.23710,0.62860,-0.35165,0.2819,0.57525,0.2082,-1.4408,-0.07190,-0.06130,0.3514
3,1000823,0.6995,0.5135,-0.2698,0.2000,0.26940,0.7334,-0.1698,0.0148,0.2021,...,-0.02510,0.63700,-0.13355,0.3909,0.39785,-0.2310,1.1075,0.06480,-0.26970,0.4782
4,1000945,-0.1842,-2.1843,-0.5860,-0.2403,-0.13715,-0.5533,NaN,NaN,-0.2273,...,-0.40400,-1.18330,-0.29615,-2.0295,-1.42410,-0.6222,0.8497,-0.31770,3.32895,0.1135

In [26]:
df_test.shape

(41449, 2920)

Error in atexit._run_exitfuncs:
Traceback (most recent call last):
  File "/data/mr423/miniconda3-2d/envs/scgpt/lib/python3.9/site-packages/IPython/core/history.py", line 585, in end_session
    self.db.execute(
sqlite3.OperationalError: attempt to write a readonly database